<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
    <add key="Worker.Run.Command" value="ServiceWrapper.exe"/>
    <add key="Worker.Run.Args" value="/?"/>
    -->
    <add key="Worker.Run.Command" value="C:\Windows\SysNative\java.exe"/>
    <add key="Worker.Run.Args" value="-cp &quot;C:\Program Files\minecraft_server_1_4_4&quot; -server -Xmx1024M -Xms1024M net.minecraft.server.MinecraftServer nogui"/>
    <add key="Worker.Run.WorkingDir" value="C:\Program Files\minecraft_server_1_4_4"/>
    <add key="Log.File" value="C:\Program Files\minecraft_server_1_4_4\ServiceWrapper.log"/>
  </appSettings>
</configuration>